<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.aeye.modules.ht.dao.HtDictDAO">

	<!-- 可根据自己的需求，是否要使用 -->
    <resultMap type="com.aeye.modules.ht.entity.HtDictDO" id="htDictMap">
        <result property="dicId" column="DIC_ID"/>
        <result property="dicCode" column="DIC_CODE"/>
        <result property="dicName" column="DIC_NAME"/>
        <result property="dicTypeCode" column="DIC_TYPE_CODE"/>
        <result property="dicTypeName" column="DIC_TYPE_NAME"/>
        <result property="orderNum" column="ORDER_NUM"/>
        <result property="remarks" column="REMARKS"/>
        <result property="crteTime" column="CRTE_TIME"/>
        <result property="updtTime" column="UPDT_TIME"/>
    </resultMap>

</mapper>